<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PersistenceEntities" connectionString="metadata=res://*/Persistence.PersistenceModel.csdl|res://*/Persistence.PersistenceModel.ssdl|res://*/Persistence.PersistenceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tommy-pc\sqlexpress;Initial Catalog=Database;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>