<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="largePayloadBinding" maxBufferSize="10000000" maxReceivedMessageSize="10000000"></binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/services/Location"                
                binding="webHttpBinding" bindingConfiguration="largePayloadBinding"
                contract="Services.IService`1[[Model.Domain.GeoLocation, Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                name="GeoLocationService"  behaviorConfiguration="services"/>
    </client>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="services">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>   
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>