<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/services/Location/"
                binding="webHttpBinding"
                bindingConfiguration="webBinding"
                behaviorConfiguration="services"
                contract="Services.IService`1[[Model.Domain.GeoLocation, Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                name="GeoLocationService" />
    </client>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="services">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>