<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/services/Location"                          
                behaviorConfiguration="services"
                binding="webHttpBinding"
                contract="Services.IService`1[[Model.Domain.GeoLocation, Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                name="GeoLocationService" />
    </client>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="services">
          <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>   
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>