<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="PersistenceEntities" connectionString="metadata=res://*/Persistence.PersistenceModel.csdl|res://*/Persistence.PersistenceModel.ssdl|res://*/Persistence.PersistenceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tommy-laptop\sqlexpress;Initial Catalog=Database;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.serviceModel>		
		<behaviors>		
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
			</webHttpEndpoint>
		</standardEndpoints>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>	
</configuration>