<?xml version="1.0"?>

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<client>
			<endpoint address="http://localhost/services/Location/"
								binding="webHttpBinding"
								bindingConfiguration="webBinding"
								behaviorConfiguration="services"
								contract="Services.IService`1[[Model.Domain.GeoLocation, Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
								name="GeoLocationService" />
		</client>
		<bindings>
			<webHttpBinding>
				<binding name="webBinding">
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="services">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
			</webHttpEndpoint>
		</standardEndpoints>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
	<system.serviceModel>
		<diagnostics>
			<messageLogging maxMessagesToLog="30000"
							logEntireMessage="true"
							logMessagesAtServiceLevel="true"
							logMalformedMessages="true"
							logMessagesAtTransportLevel="true">
			</messageLogging>
		</diagnostics>
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="System.IdentityModel"
							switchValue="Verbose"
							logKnownPii="true">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
			<!-- Log all messages in the 'Messages' tab of SvcTraceViewer. -->
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
			<!-- ActivityTracing and propogateActivity are used to 
					 flesh out the 'Activities' tab in SvcTraceViewer to 
					 aid debugging. -->
			<source name="System.ServiceModel"
							switchValue="Error, ActivityTracing"
							propagateActivity="true">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
			<!-- This records Microsoft.IdentityModel generated traces, 
					 including exceptions thrown from the framework. -->
			<source name="Microsoft.IdentityModel" switchValue="Warning">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="xml"
					 type="System.Diagnostics.XmlWriterTraceListener"
					 initializeData="C:\logs\trace.svclog" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
</configuration>